/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,300;1,900&display=swap');

/* CSS GENERAL */

*{
    margin: 0;
    padding: 0;
}

/* ------------------------ VISTA MOBILE HOME */
@media only screen and (min-width: 0px) and (max-width: 1500px){

    /* HOME HEADER */
    header {
        background-color: rgb(231, 231, 231);
        border-bottom: 2px solid rgb(185, 185, 185);
        z-index: 1;
    }

    header h1 {
        color: black;
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-size: 35px;
        padding-left: 45%;
        padding-top: 10px;
    }

    header nav ul {
        list-style: none;
        margin-left: 15px;
        margin-top: 20px;
        padding-left: 36%;
    }

    header nav ul li {
        display: inline-block;
        border-bottom: 2px solid rgb(168, 167, 167);
        padding-bottom: 15px;
    }

    header nav ul a {
        text-decoration: none;
        color: black;
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-size: 12px;
        margin: 25px;
        padding: 8px;
        background-color: rgb(175, 173, 173);
        border-radius: 45px;
    }

    header h2 {
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        margin-bottom: 15px;
        margin-left: 30px;
    }

    /* HERO */

    .hero {
        display: grid;
        grid-template-columns: 500px 700px;
        grid-template-rows: 800px 200px;
        justify-content: start;
        align-content: center;
        height: 1200px;
        padding-left: 55px;
        padding-bottom: 200px;
        padding-top: 100px;
        background-color: rgb(231, 231, 231);
    }

    .textoHero1 {
        justify-self: end;
    }

    .hero div h2 {
        width: 500px;
        height: 500px;
        font-weight: 500;
        font-style: normal;
        font-size: 150px;
        text-align: start;
    }

    .textoHero2 {
        justify-self: center;
        align-self: center;
    }

    .hero div p {
        font-size: 40px;
        font-weight: 300;
        font-style: normal;
    }

    .imagenCentral{
        position:relative;
    }

    .heroImagen { 
        width: 700px;
        height: 800px;
        object-fit: cover;
    }

    .imagenCircular{
        
        position: absolute;
        top: 700px;
        right: 320px;

        width: 400px;
        height: 400px;
        border-radius: 100%;
        object-fit: cover;
    }

    .heroExtra {
        background-color: rgb(231, 231, 231);
        border-bottom: 2px solid rgb(168, 167, 167);
        
    }

    .heroDerecha {
        position: relative;
        padding-top: 100px;
        padding-bottom: 40px;
        width: 100px;
        height: 100px;
        left: 25%;
    }

    .heroDerecha h2 {
        font-size: 60px;
    }

    .heroDerecha h3 {
        font-size: 40px;
    }


    .heroIzquierda {
        position: absolute;
        width: 100px;
        height: 100px;
        left: 65%;
        right: 100px;
        top: 1100px;

    }

    .heroIzquierda h2 {
        font-size: 60px;
    }

    .heroIzquierda h3 {
        font-size: 40px;
        width: 500px;
        height: 500px;
    }

    .heroExtra a {
        position: relative;
        text-decoration: none;
        color: white;
        left: 43%;
        background-color: grey;
        padding: 15px;
        border-radius: 50px;
        top: 15px;
        font-size: 25px;
    }

    /* MAIN */

    main h1 {
        text-align: center;
        padding-top: 80px;
        font-size: 50px;
        font-weight: 200;
    }

    .productos h2 {
        text-align: center;
        padding-top: 10px;
        font-size: 30px;
        font-weight: 200;
    }

    /* -------------- GALERIA DE PRODUCTOS */

    .productos div {
        display: inline-block;
        text-align: center;
    }

    .productos div img {
        position: relative;
        left: 90px;
        width: 450px;
        height: 650px;
        margin: 60px;
        object-fit: cover;
        padding-bottom: 50px;
        border-bottom: 2px solid rgb(168, 167, 167);
    }

    .productos div p {
        position: relative;
        background-color: rgba(185, 174, 174, 0.664);
        width: 450px;
        padding: 10px 0 10px 0;
        bottom: 158px;
        left: 150px;
        font-size: 20px;
    }

    /* FOOTER */

    footer {
        background-color: rgb(231, 231, 231);
    }
    
}


/* ---------------------- VISTA ESCRITORIO HOME */

@media only screen and (min-width: 1500px){

    /* ------------------- HOME HEADER */
    header {
        background-color: rgb(231, 231, 231);
        border-bottom: 2px solid rgb(185, 185, 185);
        z-index: 1;
    }

    header h1 {
        color: black;
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-size: 55px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .navegacion {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        padding-top: 15px;
    }

    header nav ul {
        list-style: none;
    }

    header nav ul li {
        border-bottom: 2px solid rgb(161, 160, 160);
        padding: 10px;
        padding-bottom: 20px;
        transition: 0.8s linear;
    }

    header nav ul li:hover {
        border-bottom: 2px solid rgb(44, 44, 44);
        padding: 10px;
        padding-bottom: 20px;
    }

    header nav ul a {
        text-decoration: none;
        color: black;
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-size: 14px;
        margin: 25px;
        padding: 8px;
        background-color: rgb(228, 222, 222);
        border-radius: 45px;
        padding-left: 45px;
        padding-right: 45px;
        transition: 0.3s ease-in-out;
    }

    header nav ul a:hover {
        text-decoration: none;
        color: white;
        background-color: rgb(110, 107, 107);
    }

    header h2 {
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-size: 30px;
        margin-bottom: 15px;
        margin-left: 65px;
    }

    /* ------------------ HERO */

    .hero {
        display: grid;
        grid-template-columns: 500px 550px 500px;
        grid-template-rows: 700px;
        grid-column-gap: 20px;
        justify-content: center;
        align-content: center;
        height: 800px;
        padding-bottom: 400px;
        padding-top: 600px;
        background-color: rgb(231, 231, 231);
    }

    .textoHero1 {
        justify-self: end;
    }

    .hero div h2 {
        width: 500px;
        height: 500px;
        font-weight: 500;
        font-style: normal;
        font-size: 100px;
        text-align: end;
    }

    .textoHero2 {
        justify-self: start;
    }

    .hero div p {
        width: 400px;
        font-size: 30px;
        font-weight: 300;
        font-style: normal;
    }

    .imagenCentral{
        position: relative;
        object-fit: cover;
    }

    .heroImagen { 
        width: 550px;
        height: 700px;
    }

    .imagenCircular{
        position: absolute;
        top: 250px;
        left: 500px;



        width: 320px;
        height: 320px;
        border-radius: 100%;
        object-fit: cover;
    }

    /* ----------------------------- EXTRA INFO HEADER EXTRA */

    .heroExtra {
        position: relative;
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 150px;
        align-content: end;
        height: 300px;
        background-color: rgb(231, 231, 231);
        border-bottom: 5px solid rgb(168, 167, 167);
    }

    .heroDerecha {
        justify-self: center;
    }

    .heroDerecha h2 {
        font-size: 60px;
    }

    .heroDerecha h3 {
        font-size: 30px;
    }

    .heroIzquierda {
        justify-self: center;
    }

    .heroIzquierda h2 {
        font-size: 60px;
    }

    .heroIzquierda h3 {
        font-size: 30px;
    }

    .botonHE {
        position: absolute;
        justify-self: center;
        top: 278px;

        height: 40px;
        width: 350px;
        background-color: rgb(137, 158, 158);
        color: black;
        text-align: center;
        justify-content: center;
        text-decoration: none;
        padding-top: 2px;
        font-size: 23px;
        border-radius: 50px;

    }

    /* GALERIA DE PRODUCTOS */

    .productosDestacados {
        display: grid;
    	grid: 
        'PDtittle PDtittle PDtittle'
        'product1 product2 product3'
        ;
        grid-template-columns: 320px 320px 320px;
        grid-template-rows: 150px 420px;
        grid-column-gap: 150px;
        grid-row-gap: 20px;
        justify-content: center;
        padding: 150px;
    }

    .PDtittle {
        grid-area: PDtittle;
        justify-self: center;
        align-self: baseline;

        font-size: 45px;
    }

    .productDesc1 {
        grid-area: product1;
    }

    .productDesc1 img {
        position: absolute;
        width: 320px;
        height: 420px;
        object-fit: cover;
        transition: 0.5s ease-in-out;
    }

    .productDesc1 img:hover {
        transform: scale(1.2);
    }

    .productDesc2 {
        grid-area: product2;
    }

    .productDesc2 img {
        width: 320px;
        height: 420px;
        object-fit: cover;
        transition: 0.5s ease-in-out;
    }

    .productDesc2 img:hover {
        transform: scale(1.2);
    }

    .productDesc3 {
        grid-area: product3;
    }

    .productDesc3 img {
        width: 320px;
        height: 420px;
        object-fit: cover;
        transition: 0.5s ease-in-out;
    }

    .productDesc3 img:hover {
        transform: scale(1.2);
    }

    .productos div img {
        position: absolute;
        width: 250px;
        height: 350px;
        object-fit: cover;
        border-bottom: 2px solid rgb(168, 167, 167);
    }

    .productos div p {
        position: relative;
        background-color: rgba(185, 174, 174, 0.664);
        width: 450px;
        padding: 10px 0 10px 0;
        bottom: 158px;
        left: 150px;
        font-size: 20px;
    }

    /* FOOTER */

    .container {
        padding-top: 200px;
    }

}






/* ---------------------- VISTA ESCRITORIO PRODUCTOS */

@media only screen and (min-width: 1500px){

    /* ------------------- HERO PRODUCTOS */

    .productosHero {
        height: 100px;
        width: 1200px;
        padding: 100px;

    }

    .productosHero h2 {
       font-size: 30px;
       font-weight: 400; 
    }

    .productosHero p {
        font-size: 15px;
        font-weight: 300;
    }

    /* --------------- GALERIA DE PRODUCTOS */

    .carr1 {
        height: 60vh;
        width: 100%;
        object-fit: cover;   
    }

    .galeriaProductos1 {
        display: flex;
        justify-content: space-around;
        padding: 50px;
        }

    .galeriaProductos1 div img {
        height: 470px;
        width: 320px;
        object-fit: cover;
        transition: 0.3s ease-in-out;
    }

    .galeriaProductos1 div img:hover {
        transform: scale(1.2);

    }

    .footerProductos {
        display: grid;
        grid-template-columns: 160px 160px;
        grid-template-rows: 30px;
        width: 320px;
        padding-top: 5px;
    }

    .footerProductos h1 {
        font-size: 15px;
        font-weight: 200;
        justify-self: start;
    }

    .precio {
        font-size: 15px;
        font-weight: 200;
        justify-self: end;
    }

    .galeriaProductos2 {
        display: flex;
        justify-content: space-around;
        padding: 50px;
        }

    .galeriaProductos2 div img {
        height: 470px;
        width: 320px;
        object-fit: cover;
        transition: 0.3s ease-in-out;
    }

    .galeriaProductos2 div img:hover {
        transform: scale(1.2);

    }

    .galeriaProductos3 {
        background-color: rgba(250, 235, 215, 0.356);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .galeriaProductos3 div img {
        height: 400px;
        width: 900px;
        object-fit: cover;
    }

}

/* ---------------------- VISTA MOBIL PRODUCTOS */

@media only screen and (min-width: 0px) and (max-width: 1500px){

    .login {
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 150px 50px 50px 20px 50px 20px;
        row-gap: 10px;
        justify-content: center;
        padding-top: 50px;
    }

    .headerLogin {
        font-weight: 300;
        font-size: 50px;
        text-align: center;
    }

    .inputLogin1 {
        height: 35px;
        width: 300px;
    }

    .inputLogin2 {
        height: 35px;
        width: 300px;
    }

    .input {
        align-self: center;
        justify-self: center;
    }

    .botonLogin {
        align-self: center;
        justify-self: center;
    }

    .signinB {
        background-color: beige;
        font-weight: 500;
    }
    
}   


/* ---------------------- VISTA ESCRITORIO LOGIN */

@media only screen and (min-width: 1500px){

    .login {
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 90px 50px 50px 20px 50px 20px;
        row-gap: 10px;
        justify-content: center;
        padding-top: 100px;
    }

    .headerLogin {
        font-weight: 300;
        font-size: 50px;
        text-align: center;
        align-self: center;
        justify-self: center;
    }

    .inputLogin1 {
        height: 35px;
        width: 300px;
    }

    .inputLogin2 {
        height: 35px;
        width: 300px;
    }

    .input {
        align-self: center;
        justify-self: center;
    }

    .botonLogin {
        align-self: center;
        justify-self: center;
    }

    .signinB {
        background-color: beige;
        font-weight: 500;
    }

    .signinB:hover {
        background-color: rgb(105, 105, 101);
        color: white;
    }
}


/* ---------------------- VISTA ESCRITORIO ABOUT */

@media only screen and (min-width: 1200px){

    .ABhero {
        display: flex;
        flex-direction: column;
    }

    .ABhero img {
        align-self: center;
        padding: 40px;
        height: 50vh;
        width: 90%;
        object-fit: cover;
    }

    .ABherop { 
        padding-bottom: 100px;
        padding-top: 100px;
        align-self: center;
        text-align: center;
        width: 60%;
        font-size: 50px;
        font-weight: 600;
    }

    .ABmuestra {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
    }

    .ABmuestra div {
        display: flex;
        width: 90%;
        background-color: rgb(240, 240, 240);

        
    }

    .ABmuestra div img {
        height: 460px;
        width: 660px;
        object-fit: cover;
    }

    .ABimgFT {
        padding: 80px 120px;
        display: flex;
        flex-direction: column;
    }

    .ABimgFT h2 {
        font-size: 30px;
        font-weight: 600;
    }   

    .ABimgFT p {
        font-size: 20px;
        font-weight: 300;
    }

    #spacer {
        height: 110px;
        background-color: white;
    }

}