@import "../base/variables";

/* HOME HEADER */
body{
    header {
        background-color: $color-gray;
        border-bottom: 2px solid rgb(185, 185, 185);
        z-index: 1;
        h1 {
            color: black;
            text-align: center;
            font-family: "Roboto", sans-serif;
            font-weight: 900;
            font-size: 35px;
            padding-top: 25px;
            padding-bottom: 10px;
        }
        nav {
            .navegacion {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: center;
                align-content: center;
                padding-top: 15px;
            }
            ul {
                list-style: none;
                li {
                    border-bottom: 2px solid rgb(161, 160, 160);
                    padding: 10px;
                    padding-bottom: 20px;
                    transition: 0.8s linear;
                    &:hover{
                        border-bottom: 2px solid rgb(44, 44, 44);
                        padding: 10px;
                        padding-bottom: 10px;
                    }
                    a {
                        text-decoration: none;
                        color: black;
                        font-family: "Roboto", sans-serif;
                        font-weight: 900;
                        font-size: 12px;
                        margin: 25px;
                        padding: 6px;
                        background-color: rgb(228, 222, 222);
                        border-radius: 45px;
                        padding-left: 45px;
                        padding-right: 45px;
                        transition: 0.3s ease-in-out;
                        &:hover{
                            text-decoration: none;
                            color: white;
                            background-color: rgb(110, 107, 107);
                        }
                    }
                }
            }
        }
        h2 {
            font-family: "Roboto", sans-serif;
            font-weight: 900;
            font-size: 30px;
            margin-bottom: 15px;
            margin-left: 65px;
        }    
    }
}
